@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes blur{
  to{
   /* box-shadow:
    0px 5px 0px -5px hsla(0, 0, 100%, 0.1),
    0px 0px 0px 1px hsla(0, 0, 100%, 0.1);
    background-color: rgba(217, 217, 217, 0.156);
    backdrop-filter: blur(10px); */
    background-color: #181818;
  }
}

.headerScroll{
  animation: blur linear both;
  
  animation-timeline: scroll();
  animation-range: 0 200px;
}


.swiper-button-prev,
.swiper-button-next {
  z-index: 1000;
}



.hover-shadow-b:hover{
  box-shadow: 0px 19px 16px -9px rgba(0,0,0,0.1);
}
